
<main>
    <body class="home-body">
        <h1>*Responsive Feed coming soon*</h1>
        <div class="preview-home">
        <%= link_to image_tag('coming-soon-home.jpg') %>
        <div>
    </body>
</main>