/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
 }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #323232;
    display: grid;
    grid-template-areas:
    "nav nav nav"
    ". main ."
    "footer footer footer";
    grid-template-columns: 1fr 18fr 1fr;
    
}
main {
    grid-area: main;
    background-color: #323232;
    border-bottom: .2em solid tomato;
    padding: 4em 0 2em 0;
    z-index: -5;
}

/* nav */
.nav {
    grid-area: nav;
    background: #323232;
    display: flex;
    width: 100vw;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    z-index: 35;   
}

.nav li a {
    text-decoration: none;
    display: block;
    color: #f5f7ff;
    font-size: 18px;
}

.logo a {
    display: flex;
    margin: 20px 0 20px 10px;
    padding: 10px 20px 10px;
}
.nav .menu {
    width: 80%;
    margin: 0;
    padding: 0 20px;
    display: flex;
}

.nav .menu li {
    width: 100vw;
    margin: 50px;
    list-style: none;
    display: block; 
    text-align: right;
    line-height: 20px;   
}
    /* burger_button */
    .nav .burger-shower {
        display: none;  
    }
    .nav .burger-menu {
        display: none;    
    }
    


@media (max-width: 910px)

{
    .nav .menu {
        display: none;
    }
    
    .nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

      /* burger_button */
    .burger-shower:checked ~ .burger-menu {
        display: block;
      }
      
    .hamburger {
        display: flex;
        justify-content: flex-end;
        grid-area: nav;
        grid-row: 2/3;
        color: #f5f7ff;
        font-size: 5em;
        padding-top: 50px;
        width: 5em;

      }

    .burger-menu {
         display:none;
         
    }

    .burger-menu {
        padding: 20px 0 20px 0;
        justify-content: flex-end;
        
    }
    .burger-menu li {
        list-style: none;
        padding: 20px 0 20px 0;
    }
    .burger-menu li a{
        display: flex;
        flex-direction: row-reverse;
    }