

/* containter styling */
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.devise-container {
    position: relative;
    z-index: 30;
}

.devise-container i a {

    display: flex;
    justify-content: center;
    align-self: center;
    width: 20vw;
}

.devise-container input, label {
    display:flex;
    justify-content: center;
    /* width: 50vw;
    max-width: 50em;
    min-width: 10em; */
}

/* form styling */
.simple_form label {
    color: #f5f7ff;
    padding-bottom: .5em;
}
.simple_form label {
    color: #f5f7ff;
    padding-bottom: .5em;
}

.simple_form input {
    display:flex;
    justify-content: center;
    color: #323232;
    border-radius: .5em;
    background-color: #f5f7ff;
    
}

.simple_form input[type='submit'] {
    border-style: none;
    border-color: #7836B2;
    color: #f5f7ff;
    background-color: #58009a;
    border-radius: .5em;
    align-self: center;
    align-content: center;
    padding-bottom: 1em;

}

.simple_form .error {
    clear: left;
    color: #f5f7ff;
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
             
}

.simple_form .hint {
    clear: left;
    margin-left: 120px;
    color: #f5f7ff;
    display: flex;
    font-style: italic;
    justify-content: flex-start;
    
  }

div.boolean label {
    
}
input.check_boxes {
    
    
}
input.radio {
    
}