

/* containter styling */
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.devise-container {
    position: relative;
    z-index: 30;
}

.devise-container i a {

    display: flex;
    align-self: center;
    width: 20vw;
    max-width: 20em;
    min-width: 10em;
}

.devise-container input, label {
    width: 20vw;
    max-width: 50em;
    min-width: 10em;
}

/* form styling */
.simple_form label {
    color: #f5f7ff;
    
}
.simple_form input[type='submit'] {
    border-style: none;
    border-color: #7836B2;
    color: #f5f7ff;
    background-color: #58009a;
    border-radius: .5em;
    align-self: center;
    align-content: center;

}
.simple_form input {
    color: #323232;
    border-radius: .5em;
    background-color: #f5f7ff;
    
}

div.boolean label {
    color: aqua;
}
input.check_boxes {
    background-color: turquoise;
    color: turquoise;
}
input.radio {
    background-color: turquoise;
    color: turquoise;
}
