

.pages-body {
    display:grid;
    grid-template-rows: 1fr;

}
.pages-body h1 {
    font-family: Baloo Da;
    font-size: 2em;
  
}
.pages-body p {
    font-size: 1em;
    font-family: lato;
    font-style: bold;
    color: #b1b4bc;

}

.about-section-1, .about-section-3 h1 {
    color: #f5f7ff;
    align-self: left;
}

.about-section-2 h1 {
    color: #323232;
    align-self: left;
}

.about-section-4 h1 {
    color: #323232;
    text-align: center;
    align-self: center;
}

.about-section-4 {
    text-align: center;
    padding-bottom: 1em;
}
.about-section-4 .cta {
    width: 6em;
    cursor: pointer;
    background-color: #58009a;
    border-radius: .5em;
    align-self: center;
    align-content: center;
    padding: 1em;
    
}

.about-section-4 .cta a {
    text-decoration: none;
    z-index: 500;
    color: #f5f7ff;
    z-index: 500;
    
}


.about-section-2, .about-section-4 {
    background-color: #323232;
    width: 100%;
    vertical-align: center;
    overflow: visible
}

.about-section-2, .about-section-4 {
    background-color: #f5f7ff;
    width: 100%;
}





/* #7836B2; */